<li class="list-group-item">
	<span>{{name}}</span>

	<button class="kill-character btn {{#if dead}}btn-danger{{else}}btn-primary{{/if}}" data-id="{{id}}" data-dead="{{dead}}">
		{{#if dead}}Assassinate <i class="fas fa-procedures"></i>{{else}}Revive <i class="far fa-heart"></i>{{/if}}
	</button>
</li>
